.loader{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 99999;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all .6s ease-in-out;
	&.fadeOut{
		transform: translateY(100%);
		opacity: 0;
	}
	&::before{
		content: '';
		background: rgb(55,64,79); /* Old browsers */
		background: -moz-linear-gradient(45deg, rgba(55,64,79,1) 0%, rgba(101,117,140,1) 50%, rgba(140,162,192,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(45deg, rgba(55,64,79,1) 0%,rgba(101,117,140,1) 50%,rgba(140,162,192,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(45deg, rgba(55,64,79,1) 0%,rgba(101,117,140,1) 50%,rgba(140,162,192,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#37404f', endColorstr='#8ca2c0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
		opacity: .5;
		display: block;
		position: absolute;
		left: -50%;
		right: -50%;
		top: -50%;
		bottom: -50%;
		animation: transformMiddle 3s ease-in-out infinite;
	}
	&::after{
		content: '';
		display: block;
		height: 4px;
		width: 20%;
		position: absolute;
		bottom: 0;
		left: 0;
		background-color: $mainColor;
		animation: widthMove 2s ease-in-out infinite;
	}
	.loader-logo{	
		width: 20rem;
		height: auto;
		display: block;
		animation: transformEasy 3s linear infinite;
	}
}

@keyframes transformEasy{
	0%, 100%{
		transform: translateY(0%);
	}
	50%{
		transform: translateY(5%);
	}
}

@keyframes transformMiddle{
	0%, 100%{
		transform: translate(0%, 0%);
	}
	25%{
		transform: translate(-20%,20%);
	}
	50% {
		transform: translate(0%,0%);
	}
	75%{
		transform: translate(20%,-20%);
	}
}


@keyframes widthMove{
	0%, 100%{
		width: 0;
		opacity: 0;
		transform: translateX(0%);
	}
	98%{
		width: 100%;
		opacity: 1;
		transform: translateX(100%);
	}
	99%{
		width: 0%;
		opacity: 0;
		transform: translateX(0%);
	}
}

.anim{
	.header{
		transform: translateY(-140%);
	}
}

.transformY-top{
	transform: translateY(0%);
	opacity: 1;
	transition: all .6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.anim-block{
	&.transformY-top{
		transform: translateY(10%);
		opacity: 0;
	}
}

