.main-section{
	padding-top: 4.5rem;
}

.main-slider{
	min-height: 40rem;
}

.main-slider-item{
	position: relative;
	min-height: 40rem;
	&::after{
		content: '';
		position: absolute;
		z-index: 2;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: block;
		background-color: rgba(0,0,0,.2);
	}
	.slider-content{
		position: relative;
		z-index: 5;
		text-align: center;
		max-width: 80%;
		margin: 3rem auto;
		color: #fff;
		.upper-slider-text{
			font-weight: $font-black;
			font-size: 1.8rem;
			text-transform: uppercase;
			display: block;
		}
		.main-slider-title{
			margin-top: 6rem;
			font-size: 2.4rem;
			font-weight: $font-black;
			text-transform: uppercase;
		}
		.main-slider-desc{
			font-size: 1.8rem;
			font-weight: $font-black;
		}
	}
}


.main-section-info{
	padding-top: 4rem;
	padding-bottom: 5rem;
	.main-title{
		font-size: 2.4rem;
		font-weight: $font-black;
		color: $darkColor;
		margin-bottom: 3rem;
	}
	h3{
		font-size: 1.8rem;
		color: $darkColor;
		font-weight: $font-black;
		margin-bottom: 1.5rem;
	}
	.btn{
		margin-top: 3rem;
	}
}

.section-error{
	padding-top: 14rem;
	padding-bottom: 8rem;
	text-align: center;
	h1{
		font-size: 7rem;
		font-weight: $font-black;
		text-align: center;
		color: $darkColor;
	}
	.text{
		font-size: 1.4rem;
		display: block;
		text-align: center;
		margin-top: 3rem;
		margin-bottom: 5rem;
		color: #666666;
	}
	.btn{
		text-align: center;
	}
}