@media(min-width: 768px){
	.main-footer-row__flex{
		align-items: center;
		.order-bottom{
			order: 1;
		}
		.order-middle{
			order: 2;
		}
	}
	.promo{
		text-align: left;
		.promo-title, .promo-info{
			font-size: 2.4rem;
		}
	}
	.footer-nav{
		margin-left: -1.5rem;
		margin-right: -1.5rem;
	}

	.copyright-row{
		.wrap{
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}
	}
	.copyright{
		font-size: .9rem;
		span{
			display: inline-block;
			&:not(:last-child){
				&::after{
					content: '';
					display: inline-block;
					vertical-align: middle;
					width: 1px;
					height: 1rem;
					background-color: #fff;
					margin-left: 1rem;
					margin-right: 1rem;
				}
			}
		}
	}

	.footer-privacy-menu li {
		a{
			font-size: .9rem;
		}
		&:not(:last-child){
			&::after{
				height: 1rem;
				margin-top: .1rem;
			}
		}
	}


	.title-block{
		padding-top: 7.5rem;
		h1{
			font-size: 2.6rem;
		}
	}

	.content{
		padding-top: 2rem;
	}


	.section-article {
		.wrap{
			padding-top: 1rem;
		}
		.content{
			img{
				display: inline-block; 
				margin-right: 3rem;
				float:left;
				max-width: 50%;
			}
		}
	}

	.article-date{
		margin-bottom: .5rem;
	}

	.news-amount{
		margin-bottom: 5rem;
	}


	.image-gallery{
		max-height: none;
		overflow: visible;
		flex-direction: column;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 0;
		img{
			max-height: none;
			margin-left: 0;
			margin-right: 0;
			margin-bottom: 1.5rem;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}

	.info-row{
		.info-title{
			font-size: 1.8rem;
		}
		.info-title, .info-value{
			margin-top: .5rem;
			margin-bottom: .5rem;
		}
	}

	.tel-link{
		margin-top: 4rem;
		margin-bottom: 4rem;
		.tel-link-title, .tel-link-contact{
			&, span{
				font-size: 2.2rem;
			}
		}
	}

	.padding-md-top-40{
		padding-top: 4rem;
		padding-bottom: 4rem;
	}

	.case-panel{
		margin-bottom: 8rem;
	}

	.service-left{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		img{
			width: 60%;
			height: auto;
			display: block;
		}
		.service-left-inner{
			width: 40%;
			padding-top: 2rem;
			padding-bottom: 2rem;
		}
	}

	.service-list{
		.row{
			margin-left: -1.5rem;
			margin-right: -1.5rem;
		}
		.col-md-6{
			padding-left: 1.5rem;
			padding-right: 1.5rem;
		}
	}

	.section-carousel{
		padding-top: 4rem;
		padding-bottom: 4rem;
		h2{
			font-size: 2.4rem;
		}
	}

	.adress{
		margin-top: 3rem;
	}

	.contacts-phone{
		margin-top: 2rem;
		font-size: 2rem;
	}

	.adress-col h3{
		font-size: 2.4rem;
	}

	.section-contact{
		padding-top: 5rem;
		padding-bottom: 5rem;
		h2{
			font-size: 2.4rem;
			margin-bottom: 4rem;
		}
	}

	.btn-submit{
		width: auto;
	}

	.small-contact{
		margin-top: 4rem;
		h3{
			font-size: 2.4rem;
		}
	}

	.panel-text-amount{
		margin-top: 7rem;
	}

	.panel-text{
		margin-bottom: 7rem;
		h3, p{
			margin-left: 1rem;
			margin-right: 3rem;
		}
	}

	.section-work{
		h2{
			font-size: 2.4rem;
		}
	}

	.modal-header{
		padding: 2rem;
		.modal-title{
			max-width: 48rem;
		}
	}

	.modal-body{
		padding: 2.5rem 2rem;
		.img-block{
			margin-left: 1.5rem;
			float: right;
			width: 40%;
			&::after{
				float: right;
			}
		}
	}

	.help-block{
		margin-top: .5rem;
		.help-title{
			font-size: 2rem;
		}
		a{
			font-size: 2rem;
		}

	}

	.main-slider{
		min-height: 43rem;
	}

	.main-slider-item{
		min-height: 43rem;
		.slider-content{
			.upper-slider-text, .main-slider-desc{
				font-size: 2.4rem;
			}
			.main-slider-title{
				margin-top: 8rem;
				font-size: 3rem;
			}
		}
	}

	.main-section-info{
		padding-top: 6rem;
		padding-bottom: 6rem;
		.main-title{
			font-size: 2.8rem;
		}
	}
}