@media(min-width: 992px){
	.service-left{
		flex-direction: column;
		align-items: normal;
		img{
			width: 100%;
			max-width: 100%;
		}
		.service-left-inner{
			width: 100%;
		}
	}
	
	.service-left{
		h3{
			font-size: 2.2rem;
		}
	}

	.service-left-inner{
		margin-top: 2rem;
	}

	.service-right-inner{
		h2{
			font-size: 2.6rem;
			margin-bottom: 3rem;
		}
	}

	.service-item{
		h3{
			font-size: 2rem;
			margin-bottom: 1.5rem;
		}
	}

	
}