.modal-header{
	background-color: $darkColor;
	border-bottom: 4px solid $mainColor;
	.modal-title{
		color: #fff;
		font-weight: $font-bold;
		max-width: 90%;
		font-size: 1.8rem;
	}
	.close{
		opacity: 1;
		span{
			color: #fff;
			font-size: 2.2rem;
			.icon{
				width: 1.4rem;
				height: 1.4rem;
				fill: #fff;
			}
		}
	}
}

.modal-body{
	.img-block{
		margin-top: 1rem;
		margin-bottom: 1rem;
		&::after{
			content: 'Click to enlarge';
			display: inline-block;
			margin-top: .5rem;
			text-transform: uppercase;
			color: #fff;
			padding: 1rem .8rem;
			background-color: $mainColor;
			font-size: 1.3rem;
			text-align: right;
		}
	}
}

.help-block{
	margin-top: 2rem;
	margin-bottom: 2rem;
	border-top: 3px solid $darkColor;
	.help-title{
		font-size: 1.8rem;
		font-weight: $font-black;
		color: $darkColor;
		text-transform: uppercase;
		display: block;
		margin-top: .5rem;
	}
	a{
		color: $darkColor;
		font-size: 1.8rem;
		text-decoration: none;
		span{
			display: block;
			text-transform: uppercase;
		}
	}
}

.img-block.image-extended{
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0,0,0,.9);
	&::after{
		display: none;
	}
	&::before{
		content: '';
		position: absolute;
		top: 3rem;
		right: 3rem;
		width: 2rem;
		height: 2rem;
		background-image: url('../img/icons/close-white.svg');
		background-size: 2rem 2rem;
		background-repeat: no-repeat;
		background-position: center center;
		cursor: pointer;
	}
	img{
		max-width: 100%;
		max-height: 100%;
		width: auto;
		height: auto;
	}
}