.margin-side-none{
	margin-left: 0;
	margin-right: 0;
	& > .col{
		padding-left: 0;
		padding-right: 0;
	}
}

.service-left{
	background-color: $darkColor;
	height: 100%;
	.service-inner{
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
	img{
		max-width: 100%;
	}
	h3{
		color: #fff;
		font-size: 1.8rem;
		font-weight: $font-bold;
	}
	p{
		color: #fff;
	}
	.service-link{
		margin-top: 1rem;
	}
}

.service-inner{
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.service-right{
	height: 100%;
	background-color: $mainColor;
}

.service-link{
	padding: 1rem .9rem;
	&.dark{
		background-color: $darkColor;
	}
}

.service-right-inner{
	padding-top: 3rem;
	padding-bottom: 3rem;
	h2{
		font-size: 2.4rem;
		font-weight: $font-black;
		color: $darkColor;
		margin-bottom: 2rem;
		text-transform: uppercase;
	}
}

.service-item{
	margin-bottom: 3rem;
	h3{
		font-size: 1.8rem;
		font-weight: $font-bold;
		text-transform: uppercase;
		color: $darkColor;
	}
	p{
		color: $darkColor;
	}
}