.title-block{
	background-color: $baseColor;
	padding-top: 9rem;
	padding-bottom: 2rem;
	h1{
		font-size: 2.4rem;
		color: #fff;
		text-align: center;
		font-weight: $font-black;
		text-transform: uppercase;
	}
}

.section-content{
	padding-top: 2rem;
	padding-bottom: 5rem;
}

.section-content, .content{
	h1, h2, h3, h4{
		font-size: 1.8rem;
		font-weight: $font-bold;
		margin-top: 1.8rem;
		margin-bottom: 1.8rem;
	}
	h5, h6{
		font-size: 1.6rem;
		font-weight: $font-bold;
		margin-top: 1.8rem;
		margin-bottom: 1.8rem;
	}
	span, p{
		font-size: 1.4rem;
		font-weight: $font-regular;
		margin-top: 1rem;
		margin-bottom: 1rem;
		color: #666666;
	}
}