/*colors*/
$mainColor: #f2b632;
$baseColor: #65758c;
$darkColor: #37404f;
$lightGreyColor: #e3e3e3;

/*font*/
$font: 'Lato', sans-serif;

$font-thin: 100;
$font-light: 300;
$font-regular: 400;
$font-bold: 700;
$font-black: 900;

$font-italic: italic;