@import 'varaibles';

*{
	box-sizing: border-box;
}

html{
	font-size: 10px;
}

body{
	font-size: 1.4rem;
	font-family: $font;
	font-weight: $font-regular;
}

.body-overflow{
	overflow: hidden;
}

.d-none{
	display: none;
}

.wrap, .wrap-sm{
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	margin-left: auto;
	margin-right: auto;
}

.wrap{
	max-width: 120rem;
}

.wrap .wrap-sm{
	padding-left: 0;
	padding-right: 0;
}

.wrap-sm{
	max-width: 78rem;
}

.btn, button{
	outline: none!important; 
}

.btn-tr{
	border: none;
	padding: 0;
	background-color: transparent;
	outline: none;
}

img{
	max-width: 100%;
}




@import 'header';
@import 'footer';
@import 'simple-page';
@import 'news';
@import 'case-study';
@import 'services';
@import 'about';
@import 'contact';
@import 'sector-page';
@import 'modal';
@import 'index';
@import 'animation';
@import 'media576';
@import 'media768';
@import 'media992';
@import 'media1080';
@import 'media1180';
@import 'media1280';
