/*colors*/
/*font*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  font-size: 1.4rem;
  font-family: "Lato", sans-serif;
  font-weight: 400; }

.body-overflow {
  overflow: hidden; }

.d-none {
  display: none; }

.wrap, .wrap-sm {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto; }

.wrap {
  max-width: 120rem; }

.wrap .wrap-sm {
  padding-left: 0;
  padding-right: 0; }

.wrap-sm {
  max-width: 78rem; }

.btn, button {
  outline: none !important; }

.btn-tr {
  border: none;
  padding: 0;
  background-color: transparent;
  outline: none; }

img {
  max-width: 100%; }

.header {
  background-color: #fff;
  border-bottom: 4px solid #f2b632;
  height: 4.8rem;
  position: fixed;
  width: 100%;
  z-index: 150;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform .6s ease-in-out;
  transition: -webkit-transform .6s ease-in-out;
  -o-transition: transform .6s ease-in-out;
  transition: transform .6s ease-in-out;
  transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out; }
  .header .wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .header.header-upper {
    -webkit-transform: translateY(-150%);
        -ms-transform: translateY(-150%);
            transform: translateY(-150%); }

.logo {
  margin-top: 1rem;
  margin-bottom: 1rem; }
  .logo img {
    max-width: 100%;
    width: 11.5rem;
    height: auto;
    position: relative;
    z-index: 150;
    display: block;
    margin-bottom: -1.5rem; }
  .logo::after {
    content: '';
    width: 16.5rem;
    height: 2.5rem;
    background-color: red;
    display: block;
    position: absolute;
    top: 4.4rem;
    left: -1rem;
    z-index: 1;
    -webkit-transform: skew(-20deg);
        -ms-transform: skew(-20deg);
            transform: skew(-20deg);
    background-color: #fff;
    border-right: 4px solid #f2b632;
    border-bottom: 4px solid #f2b632; }

.btn-menu {
  width: 3rem;
  height: 3rem;
  position: relative;
  z-index: 150; }
  .btn-menu .icon {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 2.6rem;
    height: 3.4rem;
    fill: #f2b632;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out; }
  .btn-menu .close-icon {
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0; }
  .btn-menu.open-menu .close-icon {
    opacity: 1;
    visibility: visible;
    width: 2.6rem;
    height: 3.4rem; }
  .btn-menu.open-menu .menu-icon {
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0; }

.header-row {
  visibility: hidden;
  -webkit-transform: translateY(-120%);
      -ms-transform: translateY(-120%);
          transform: translateY(-120%);
  position: absolute;
  overflow-y: auto;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
  padding-top: 7rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  z-index: 100;
  background-color: #fff;
  border-bottom: 4px solid #f2b632;
  -webkit-transition: all 0.6s 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.6s 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s 0.4s cubic-bezier(0.165, 0.84, 0.44, 1); }
  .header-row.visible {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); }
    .header-row.visible .main-menu, .header-row.visible .call {
      opacity: 1;
      visibility: visible;
      -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
              transform: translateY(0);
      -webkit-transition: all .4s .4s ease-in-out;
      -o-transition: all .4s .4s ease-in-out;
      transition: all .4s .4s ease-in-out; }

.main-menu {
  padding: 0;
  margin: 0;
  margin-bottom: 6rem;
  list-style-type: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-2rem);
      -ms-transform: translateY(-2rem);
          transform: translateY(-2rem);
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out; }
  .main-menu li {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    position: relative; }
    .main-menu li a {
      text-decoration: none;
      text-transform: uppercase;
      color: #37404f;
      font-size: 1.7rem; }
    .main-menu li > a::before {
      content: '';
      display: block;
      width: .4rem;
      height: 0;
      position: absolute;
      left: -1.5rem;
      top: 0;
      background-color: #37404f;
      -webkit-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out; }

.has-submenu .open-submenu::before {
  height: 2rem; }

.has-submenu .open-submenu + .submenu {
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-height: 20rem;
  opacity: 1;
  visibility: visible; }

.submenu {
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  overflow-y: hidden;
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 1.5rem;
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out; }
  .submenu li {
    margin-top: .8rem;
    margin-bottom: .8rem; }
    .submenu li a {
      font-size: 1.4rem; }

.call {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-2rem);
      -ms-transform: translateY(-2rem);
          transform: translateY(-2rem);
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  font-weight: 700;
  font-size: 1.6rem;
  color: #f2b632;
  text-decoration: none;
  text-transform: uppercase;
  position: absolute;
  bottom: 2rem;
  width: 100%;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center; }
  .call:hover, .call:focus, .call:active {
    color: #f2b632;
    text-decoration: none; }

.footer {
  border-top: 4px solid #f2b632; }

.main-footer-row {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #37404f; }

.footer-logo {
  display: block;
  text-align: center; }
  .footer-logo img {
    width: 11.5rem;
    height: auto; }

.order-middle {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1; }

.order-bottom {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2; }

.col {
  -webkit-flex-basis: auto;
      -ms-flex-preferred-size: auto;
          flex-basis: auto; }

.promo {
  text-align: center;
  text-decoration: none; }
  .promo:hover, .promo:focus, .promo:active {
    text-decoration: none; }
  .promo .promo-title, .promo .promo-info {
    font-size: 2rem;
    line-height: 1.36em;
    display: block;
    text-transform: uppercase; }
  .promo .promo-title {
    color: #f2b632;
    font-weight: 900; }
  .promo .promo-info {
    color: #fff; }

.footer-nav {
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%; }

.footer-nav-column {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.footer-menu-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #f2b632;
  position: relative;
  margin-bottom: 1rem;
  text-align: center; }
  .footer-menu-title::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    display: block;
    bottom: -.5rem;
    left: 0;
    background-color: #f2b632; }

.footer-menu {
  list-style-type: none;
  padding: 0;
  margin: 1rem 0; }
  .footer-menu li a {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 1.2rem; }
    .footer-menu li a:hover, .footer-menu li a:active, .footer-menu li a:focus {
      text-decoration: none; }

.footer-slider {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: -1.5rem;
  margin-right: -1.5rem; }
  .footer-slider .footer-slide {
    margin-left: 1rem;
    margin-right: 1rem;
    width: 5rem;
    height: 5rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer-slider img {
    display: block;
    max-width: 100%;
    max-height: 100%; }

.copyright-row {
  background-color: #37404f;
  padding-top: .5rem;
  padding-bottom: .5rem; }
  .copyright-row .wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }

.footer-privacy-menu {
  list-style-type: none;
  padding: 0;
  margin: .5rem 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .footer-privacy-menu li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer-privacy-menu li:not(:last-child)::after {
      content: '';
      height: 1.2rem;
      width: 1px;
      background-color: #fff;
      display: block;
      margin-left: .8rem;
      margin-right: .8rem; }
    .footer-privacy-menu li a {
      font-size: 1.2rem;
      color: #fff; }
      .footer-privacy-menu li a:hover, .footer-privacy-menu li a:active, .footer-privacy-menu li a:focus {
        text-decoration: none; }

.copyright {
  font-size: 1rem;
  text-align: center;
  color: #fff; }
  .copyright span {
    display: block; }

.title-block {
  background-color: #65758c;
  padding-top: 9rem;
  padding-bottom: 2rem; }
  .title-block h1 {
    font-size: 2.4rem;
    color: #fff;
    text-align: center;
    font-weight: 900;
    text-transform: uppercase; }

.section-content {
  padding-top: 2rem;
  padding-bottom: 5rem; }

.section-content h1, .section-content h2, .section-content h3, .section-content h4, .content h1, .content h2, .content h3, .content h4 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-top: 1.8rem;
  margin-bottom: 1.8rem; }

.section-content h5, .section-content h6, .content h5, .content h6 {
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 1.8rem;
  margin-bottom: 1.8rem; }

.section-content span, .section-content p, .content span, .content p {
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #666666; }

.section-article {
  padding-top: 2rem;
  padding-bottom: 5rem; }
  .section-article h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #37404f; }
  .section-article .content img {
    max-width: 100%;
    display: block;
    margin: 1rem auto; }

.article-date {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: block;
  font-size: 1.2rem;
  color: #37404f;
  font-weight: 700; }

.arrow-pagination {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.arrow-link {
  color: #37404f;
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration: none; }
  .arrow-link:active, .arrow-link:focus, .arrow-link:hover {
    text-decoration: none; }

.aside {
  background-color: #f2b632;
  padding: 0 2rem; }

.aside-block {
  padding: 2rem 0;
  position: relative; }
  .aside-block:not(:last-child)::after {
    position: absolute;
    bottom: 0;
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #000; }

.aside-title {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700; }

.aside-list {
  list-style-type: none;
  padding: 0;
  margin: 1rem 0; }
  .aside-list li {
    margin: .5rem 0; }
    .aside-list li a {
      color: #37404f;
      text-decoration: none;
      font-weight: 700;
      font-size: 1.2rem; }

.news-amount {
  margin-bottom: 3rem; }

.news-item {
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem; }
  .news-item img {
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem; }
  .news-item::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #65758c;
    display: block;
    position: absolute;
    bottom: 0; }
  .news-item h2, .news-item a {
    color: #37404f;
    font-size: 1.8rem;
    font-weight: 700;
    margin-top: 0;
    text-decoration: none; }
  .news-item h2 {
    margin-bottom: 1rem; }
  .news-item .news-date {
    display: block;
    font-weight: 700;
    color: #37404f; }
  .news-item .news-description {
    font-size: 1.4rem;
    color: #666666;
    margin-top: 1rem; }
  .news-item .btn-more {
    outline: none;
    background-color: #f2b632;
    text-transform: uppercase;
    padding: .8rem 1.5rem;
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    margin-top: 1rem;
    display: inline-block; }

.pagination {
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .pagination a {
    padding: .5rem 1rem;
    color: #37404f;
    text-decoration: none;
    display: block;
    margin-left: .1rem;
    margin-right: .1rem; }
    .pagination a:hover, .pagination a.current {
      background-color: #37404f;
      color: #fff; }

.image-gallery {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  margin-bottom: 3rem;
  max-height: 30rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: scroll; }
  .image-gallery img {
    max-height: 30rem;
    width: auto;
    max-width: 100%;
    display: block;
    margin-left: 1.5rem;
    margin-right: 1.5rem; }

.info-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -1.5rem;
  margin-right: -1.5rem; }
  .info-row .info-title, .info-row .info-value {
    width: -webkit-calc(50% - 3rem);
    width: calc(50% - 3rem);
    margin-left: 1.5rem;
    margin-right: 1.5rem; }
  .info-row .info-title {
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 700;
    color: #37404f; }
  .info-row .info-value {
    font-size: 1.4rem;
    color: #666666; }
    .info-row .info-value span {
      display: block;
      margin-top: .5rem;
      margin-bottom: .5rem; }

.tel-link {
  display: block;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-decoration: none; }
  .tel-link:hover, .tel-link:active {
    text-decoration: none; }
  .tel-link .tel-link-title, .tel-link .tel-link-contact {
    font-size: 2rem;
    line-height: 1.3em;
    text-transform: uppercase;
    display: block; }
  .tel-link .tel-link-title {
    color: #f2b632;
    font-weight: 900; }
  .tel-link .tel-link-contact {
    color: #37404f; }
    .tel-link .tel-link-contact span {
      font-size: 2rem;
      font-weight: 900; }

.btn {
  font-size: 1.4rem;
  font-weight: 700;
  color: #fff;
  background-color: #f2b632;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  padding: 1rem 2.6rem; }
  .btn:hover {
    color: #fff; }

.cover-img {
  position: absolute;
  left: -10000%;
  right: -10000%;
  top: -10000%;
  bottom: -10000%;
  margin: auto auto;
  min-width: 1000%;
  min-height: 1000%;
  -webkit-transform: scale(0.1);
      -ms-transform: scale(0.1);
          transform: scale(0.1);
  -o-object-fit: cover;
     object-fit: cover; }

.case-list {
  margin-top: 4rem; }

.case-panel {
  margin-bottom: 3rem; }

.case-panel-img {
  position: relative;
  height: 18rem;
  width: 100%;
  display: block;
  overflow: hidden; }

.case-title {
  margin-top: 1rem;
  text-decoration: none;
  color: #37404f;
  text-transform: uppercase;
  display: block;
  font-size: 1.8rem;
  font-weight: 700; }
  .case-title:hover, .case-title:active, .case-title:focus {
    text-decoration: none; }

.case-location {
  color: #666666;
  font-size: 1.4rem; }

.case-link {
  margin-top: 3rem;
  margin-bottom: 1rem;
  padding-left: .7rem;
  padding-right: .7rem; }

.margin-side-none {
  margin-left: 0;
  margin-right: 0; }
  .margin-side-none > .col {
    padding-left: 0;
    padding-right: 0; }

.service-left {
  background-color: #37404f;
  height: 100%; }
  .service-left .service-inner {
    padding-top: 2rem;
    padding-bottom: 2rem; }
  .service-left img {
    max-width: 100%; }
  .service-left h3 {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 700; }
  .service-left p {
    color: #fff; }
  .service-left .service-link {
    margin-top: 1rem; }

.service-inner {
  padding-left: 1.5rem;
  padding-right: 1.5rem; }

.service-right {
  height: 100%;
  background-color: #f2b632; }

.service-link {
  padding: 1rem .9rem; }
  .service-link.dark {
    background-color: #37404f; }

.service-right-inner {
  padding-top: 3rem;
  padding-bottom: 3rem; }
  .service-right-inner h2 {
    font-size: 2.4rem;
    font-weight: 900;
    color: #37404f;
    margin-bottom: 2rem;
    text-transform: uppercase; }

.service-item {
  margin-bottom: 3rem; }
  .service-item h3 {
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #37404f; }
  .service-item p {
    color: #37404f; }

.about-image {
  margin: auto; }

.section-carousel {
  padding-top: 3rem;
  padding-bottom: 4rem; }
  .section-carousel h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    color: #37404f;
    margin-bottom: 1.5rem; }
  .section-carousel .section-desc {
    font-size: 1.4rem;
    text-align: center;
    color: #666666;
    max-width: 60rem;
    margin: auto; }

.carousel {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  margin-top: 3rem; }
  .carousel .slick-dots {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 1rem; }
    .carousel .slick-dots li {
      margin-left: .5rem;
      margin-right: .5rem; }
      .carousel .slick-dots li.slick-active button {
        background-color: #f2b632; }
      .carousel .slick-dots li button {
        font-size: 0;
        background-color: #e2e2e2;
        width: .9rem;
        height: .9rem;
        padding: 0;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        border: none; }

.carousel-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  max-height: 15rem; }
  .carousel-item img {
    max-width: 100%;
    max-height: 15rem;
    height: auto; }

.adress {
  margin-top: 2rem;
  color: #666666;
  font-size: 1.4rem; }

.contacts-phone {
  margin-top: 1rem;
  display: block;
  color: #666666;
  font-size: 1.8rem;
  font-weight: 700;
  text-decoration: none; }
  .contacts-phone:hover, .contacts-phone:active, .contacts-phone:focus {
    text-decoration: none;
    color: #666666; }

.adress-grid {
  margin-top: 3rem; }

.adress-col {
  margin-bottom: 3rem; }
  .adress-col h3 {
    font-size: 2rem;
    text-transform: uppercase;
    color: #37404f;
    font-weight: 700; }

.person-adress {
  margin-bottom: 2rem; }
  .person-adress h4 {
    font-size: 1.4rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    color: #666666; }
  .person-adress a {
    color: #666666;
    font-size: 1.4rem;
    display: block; }
    .person-adress a:hover {
      text-decoration: none;
      color: #666666; }

.section-contact {
  background-color: #f2b632;
  padding-top: 3rem;
  padding-bottom: 3rem; }
  .section-contact h2 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2rem;
    color: #37404f; }

.contact-form { 
  max-width: 55rem;
  margin: auto; }
  .contact-form .label {
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem; }
    .contact-form .label span {
      display: block;
      font-size: 1.4rem;
      font-weight: 700;
      margin-bottom: .5rem; }
    .contact-form .label textarea, .contact-form .label input {
      display: block;
      width: 100%;
      outline: none;
      border: none;
      font-size: 1.4rem;
      font-family: "Lato", sans-serif;
      padding: 1rem; }
  .contact-form input[type=number]::-webkit-inner-spin-button,
  .contact-form input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; }

.btn-submit {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  padding: 1.2rem 11rem;
  width: 100%;
  margin-top: 1.5rem; }
  .btn-submit.dark {
    background-color: #37404f; }

.small-contact {
  margin-top: 3rem; }
  .small-contact h3 {
    font-size: 1.8rem;
    font-weight: 900;
    color: #f2b632;
    text-transform: uppercase;
    margin-bottom: 1rem; }
  .small-contact .small-row-contact span, .small-contact .small-row-contact a {
    display: inline-block;
    font-size: 1.4rem;
    line-height: 1.34em;
    color: #666666;
    margin-top: .5rem;
    margin-bottom: .5rem; }
  .small-contact a {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0; }

.btn-sm-padding {
  padding: 1rem .9rem; }

.panel-text-amount {
  margin-top: 5rem;
  margin-bottom: 3rem; }

.panel-text {
  height: 25rem;
  border-top: 3px solid #65758c;
  position: relative;
  margin-bottom: 3rem; }
  .panel-text h3 {
    font-size: 1.8rem;
    color: #37404f;
    margin-top: 1.2rem;
    margin-bottom: 2rem;
    display: -webkit-box;
    max-height: 6.3rem;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 3; }
  .panel-text p {
    font-size: 1.4rem;
    color: #666666;
    display: -webkit-box;
    max-height: 8rem;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 4; }
  .panel-text .btn {
    outline: none;
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-box-shadow: none;
            box-shadow: none; }

.section-work {
  background-color: #e3e3e3;
  padding-top: 4rem;
  padding-bottom: 1rem; }
  .section-work h2 {
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
    margin-bottom: 3rem;
    text-transform: uppercase; }

.modal-header {
  background-color: #37404f;
  border-bottom: 4px solid #f2b632; }
  .modal-header .modal-title {
    color: #fff;
    font-weight: 700;
    max-width: 90%;
    font-size: 1.8rem; }
  .modal-header .close {
    opacity: 1; }
    .modal-header .close span {
      color: #fff;
      font-size: 2.2rem; }
      .modal-header .close span .icon {
        width: 1.4rem;
        height: 1.4rem;
        fill: #fff; }

.modal-body .img-block {
  margin-top: 1rem;
  margin-bottom: 1rem; }
  .modal-body .img-block::after {
    content: 'Click to enlarge';
    display: inline-block;
    margin-top: .5rem;
    text-transform: uppercase;
    color: #fff;
    padding: 1rem .8rem;
    background-color: #f2b632;
    font-size: 1.3rem;
    text-align: right; }

.help-block {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-top: 3px solid #37404f; }
  .help-block .help-title {
    font-size: 1.8rem;
    font-weight: 900;
    color: #37404f;
    text-transform: uppercase;
    display: block;
    margin-top: .5rem; }
  .help-block a {
    color: #37404f;
    font-size: 1.8rem;
    text-decoration: none; }
    .help-block a span {
      display: block;
      text-transform: uppercase; }

.img-block.image-extended {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.9); }
  .img-block.image-extended::after {
    display: none; }
  .img-block.image-extended::before {
    content: '';
    position: absolute;
    top: 3rem;
    right: 3rem;
    width: 2rem;
    height: 2rem;
    background-image: url("../img/icons/close-white.svg");
    -webkit-background-size: 2rem 2rem;
            background-size: 2rem 2rem;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer; }
  .img-block.image-extended img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto; }

.main-section {
  padding-top: 4.5rem; }

.main-slider {
  min-height: 40rem; }

.main-slider-item {
  position: relative;
  min-height: 40rem; }
  .main-slider-item::after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.2); }
  .main-slider-item .slider-content {
    position: relative;
    z-index: 5;
    text-align: center;
    max-width: 80%;
    margin: 3rem auto;
    color: #fff; }
    .main-slider-item .slider-content .upper-slider-text {
      font-weight: 900;
      font-size: 1.8rem;
      text-transform: uppercase;
      display: block; }
    .main-slider-item .slider-content .main-slider-title {
      margin-top: 6rem;
      font-size: 2.4rem;
      font-weight: 900;
      text-transform: uppercase; }
    .main-slider-item .slider-content .main-slider-desc {
      font-size: 1.8rem;
      font-weight: 900; }

.main-section-info {
  padding-top: 4rem;
  padding-bottom: 5rem; }
  .main-section-info .main-title {
    font-size: 2.4rem;
    font-weight: 900;
    color: #37404f;
    margin-bottom: 3rem; }
  .main-section-info h3 {
    font-size: 1.8rem;
    color: #37404f;
    font-weight: 900;
    margin-bottom: 1.5rem; }
  .main-section-info .btn {
    margin-top: 3rem; }

.section-error {
  padding-top: 14rem;
  padding-bottom: 8rem;
  text-align: center; }
  .section-error h1 {
    font-size: 7rem;
    font-weight: 900;
    text-align: center;
    color: #37404f; }
  .section-error .text {
    font-size: 1.4rem;
    display: block;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 5rem;
    color: #666666; }
  .section-error .btn {
    text-align: center; }

.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .6s ease-in-out;
  -o-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out; }
  .loader.fadeOut {
    -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0; }
  .loader::before {
    content: '';
    background: #37404f;
    /* Old browsers */
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #37404f 0%, #65758c 50%, #8ca2c0 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: -o-linear-gradient(45deg, #37404f 0%, #65758c 50%, #8ca2c0 100%);
    background: linear-gradient(45deg, #37404f 0%, #65758c 50%, #8ca2c0 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#37404f', endColorstr='#8ca2c0',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
    opacity: .5;
    display: block;
    position: absolute;
    left: -50%;
    right: -50%;
    top: -50%;
    bottom: -50%;
    -webkit-animation: transformMiddle 3s ease-in-out infinite;
            animation: transformMiddle 3s ease-in-out infinite; }
  .loader::after {
    content: '';
    display: block;
    height: 4px;
    width: 20%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #f2b632;
    -webkit-animation: widthMove 2s ease-in-out infinite;
            animation: widthMove 2s ease-in-out infinite; }
  .loader .loader-logo {
    width: 20rem;
    height: auto;
    display: block;
    -webkit-animation: transformEasy 3s linear infinite;
            animation: transformEasy 3s linear infinite; }

@-webkit-keyframes transformEasy {
  0%, 100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%); }
  50% {
    -webkit-transform: translateY(5%);
            transform: translateY(5%); } }

@keyframes transformEasy {
  0%, 100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%); }
  50% {
    -webkit-transform: translateY(5%);
            transform: translateY(5%); } }

@-webkit-keyframes transformMiddle {
  0%, 100% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%); }
  25% {
    -webkit-transform: translate(-20%, 20%);
            transform: translate(-20%, 20%); }
  50% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%); }
  75% {
    -webkit-transform: translate(20%, -20%);
            transform: translate(20%, -20%); } }

@keyframes transformMiddle {
  0%, 100% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%); }
  25% {
    -webkit-transform: translate(-20%, 20%);
            transform: translate(-20%, 20%); }
  50% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%); }
  75% {
    -webkit-transform: translate(20%, -20%);
            transform: translate(20%, -20%); } }

@-webkit-keyframes widthMove {
  0%, 100% {
    width: 0;
    opacity: 0;
    -webkit-transform: translateX(0%);
            transform: translateX(0%); }
  98% {
    width: 100%;
    opacity: 1;
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  99% {
    width: 0%;
    opacity: 0;
    -webkit-transform: translateX(0%);
            transform: translateX(0%); } }

@keyframes widthMove {
  0%, 100% {
    width: 0;
    opacity: 0;
    -webkit-transform: translateX(0%);
            transform: translateX(0%); }
  98% {
    width: 100%;
    opacity: 1;
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  99% {
    width: 0%;
    opacity: 0;
    -webkit-transform: translateX(0%);
            transform: translateX(0%); } }

.anim .header {
  -webkit-transform: translateY(-140%);
      -ms-transform: translateY(-140%);
          transform: translateY(-140%); }

.transformY-top {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
  -webkit-transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94); }

.anim-block.transformY-top {
  -webkit-transform: translateY(10%);
      -ms-transform: translateY(10%);
          transform: translateY(10%);
  opacity: 0; }

@media (min-width: 576px) {
  .footer-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-left: 3rem;
    margin-right: 3rem;
    max-width: none; }
    .footer-nav .footer-nav-column {
      width: -webkit-calc(50% - 6rem);
      width: calc(50% - 6rem);
      margin-left: 3rem;
      margin-right: 3rem; }
  .footer-menu-title {
    text-align: left; }
  .footer-menu li a {
    text-align: left; }
  .news-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .news-item img {
      width: 18rem;
      height: auto;
      margin-left: 0;
      margin-right: 0; }
      .news-item img + .news-item-inner {
        margin-left: 2rem; }
    .news-item .news-item-inner {
      width: -webkit-calc(100% - 20rem);
      width: calc(100% - 20rem); }
    .news-item .btn-more {
      margin-top: 1.5rem; }
  .contact-form .label {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem; }
  .contact-form .row-label {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-left: -1.5rem;
    margin-right: -1.5rem; }
    .contact-form .row-label .label {
      width: -webkit-calc(50% - 3rem);
      width: calc(50% - 3rem);
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      margin-bottom: 0; }
  .modal-dialog {
    max-width: 75rem; } }

@media (min-width: 768px) {
  .main-footer-row__flex {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .main-footer-row__flex .order-bottom {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1; }
    .main-footer-row__flex .order-middle {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
          -ms-flex-order: 2;
              order: 2; }
  .promo {
    text-align: left; }
    .promo .promo-title, .promo .promo-info {
      font-size: 2.4rem; }
  .footer-nav {
    margin-left: -1.5rem;
    margin-right: -1.5rem; }
  .copyright-row .wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .copyright {
    font-size: .9rem; }
    .copyright span {
      display: inline-block; }
      .copyright span:not(:last-child)::after {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 1px;
        height: 1rem;
        background-color: #fff;
        margin-left: 1rem;
        margin-right: 1rem; }
  .footer-privacy-menu li a {
    font-size: .9rem; }
  .footer-privacy-menu li:not(:last-child)::after {
    height: 1rem;
    margin-top: .1rem; }
  .title-block {
    padding-top: 7.5rem; }
    .title-block h1 {
      font-size: 2.6rem; }
  .content {
    padding-top: 2rem; }
  .section-article .wrap {
    padding-top: 1rem; }
  .section-article .content img {
    display: inline-block;
    margin-right: 3rem;
    float: left;
    max-width: 50%; }
  .article-date {
    margin-bottom: .5rem; }
  .news-amount {
    margin-bottom: 5rem; }
  .image-gallery {
    max-height: none;
    overflow: visible;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0; }
    .image-gallery img {
      max-height: none;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 1.5rem; }
      .image-gallery img:last-child {
        margin-bottom: 0; }
  .info-row .info-title {
    font-size: 1.8rem; }
  .info-row .info-title, .info-row .info-value {
    margin-top: .5rem;
    margin-bottom: .5rem; }
  .tel-link {
    margin-top: 4rem;
    margin-bottom: 4rem; }
    .tel-link .tel-link-title, .tel-link .tel-link-title span, .tel-link .tel-link-contact, .tel-link .tel-link-contact span {
      font-size: 2.2rem; }
  .padding-md-top-40 {
    padding-top: 4rem;
    padding-bottom: 4rem; }
  .case-panel {
    margin-bottom: 8rem; }
  .service-left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .service-left img {
      width: 60%;
      height: auto;
      display: block; }
    .service-left .service-left-inner {
      width: 40%;
      padding-top: 2rem;
      padding-bottom: 2rem; }
  .service-list .row {
    margin-left: -1.5rem;
    margin-right: -1.5rem; }
  .service-list .col-md-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem; }
  .section-carousel {
    padding-top: 4rem;
    padding-bottom: 4rem; }
    .section-carousel h2 {
      font-size: 2.4rem; }
  .adress {
    margin-top: 3rem; }
  .contacts-phone {
    margin-top: 2rem;
    font-size: 2rem; }
  .adress-col h3 {
    font-size: 2.4rem; }
  .section-contact {
    padding-top: 5rem;
    padding-bottom: 5rem; }
    .section-contact h2 {
      font-size: 2.4rem;
      margin-bottom: 4rem; }
  .btn-submit {
    width: auto; }
  .small-contact {
    margin-top: 4rem; }
    .small-contact h3 {
      font-size: 2.4rem; }
  .panel-text-amount {
    margin-top: 7rem; }
  .panel-text {
    margin-bottom: 7rem; }
    .panel-text h3, .panel-text p {
      margin-left: 1rem;
      margin-right: 3rem; }
  .section-work h2 {
    font-size: 2.4rem; }
  .modal-header {
    padding: 2rem; }
    .modal-header .modal-title {
      max-width: 48rem; }
  .modal-body {
    padding: 2.5rem 2rem; }
    .modal-body .img-block {
      margin-left: 1.5rem;
      float: right;
      width: 40%; }
      .modal-body .img-block::after {
        float: right; }
  .help-block {
    margin-top: .5rem; }
    .help-block .help-title {
      font-size: 2rem; }
    .help-block a {
      font-size: 2rem; }
  .main-slider {
    min-height: 43rem; }
  .main-slider-item {
    min-height: 43rem; }
    .main-slider-item .slider-content .upper-slider-text, .main-slider-item .slider-content .main-slider-desc {
      font-size: 2.4rem; }
    .main-slider-item .slider-content .main-slider-title {
      margin-top: 8rem;
      font-size: 3rem; }
  .main-section-info {
    padding-top: 6rem;
    padding-bottom: 6rem; }
    .main-section-info .main-title {
      font-size: 2.8rem; } }

@media (min-width: 992px) {
  .service-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: normal;
    -webkit-align-items: normal;
        -ms-flex-align: normal;
            align-items: normal; }
    .service-left img {
      width: 100%;
      max-width: 100%; }
    .service-left .service-left-inner {
      width: 100%; }
  .service-left h3 {
    font-size: 2.2rem; }
  .service-left-inner {
    margin-top: 2rem; }
  .service-right-inner h2 {
    font-size: 2.6rem;
    margin-bottom: 3rem; }
  .service-item h3 {
    font-size: 2rem;
    margin-bottom: 1.5rem; } }

@media (min-width: 1080px) {
  .header {
    height: 9.6rem; }
    .header .wrap {
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
  .btn-menu {
    display: none; }
  .logo {
    margin-top: 3rem;
    margin-right: 5rem; }
    .logo img {
      margin-bottom: -1rem;
      width: 17rem; }
    .logo::after {
      top: 9.2rem;
      width: 22rem; }
  .header-row {
    width: -webkit-calc(100% - 22rem);
    width: calc(100% - 22rem);
    padding-left: 0;
    padding-right: 0;
    position: relative;
    visibility: visible;
    overflow: visible;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    min-height: auto;
    background-color: transparent;
    border-bottom: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .header-row li {
      margin-left: 1rem;
      margin-right: 1rem; }
    .header-row .main-menu, .header-row .call {
      opacity: 1;
      visibility: visible; }
    .header-row .main-menu {
      margin-bottom: 0;
      -webkit-transform: none;
          -ms-transform: none;
              transform: none; }
      .header-row .main-menu li {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0; }
        .header-row .main-menu li a {
          padding-top: 3rem;
          padding-bottom: 4rem; }
    .header-row .call {
      position: static;
      width: auto;
      margin-left: auto;
      -webkit-transform: none;
          -ms-transform: none;
              transform: none;
      margin-right: 0;
      font-size: 2.1rem;
      margin-top: -.3rem; }
  .main-menu > li > a::before {
    width: 0;
    top: -4rem;
    left: 0;
    height: 1.6rem; }
  .main-menu > li:hover > a::before {
    width: 100%; }
  .has-submenu:hover > a::before, .has-submenu .open-submenu::before {
    width: 100%; }
  .has-submenu:hover > a + .submenu, .has-submenu .open-submenu + .submenu {
    margin-top: 2rem;
    opacity: 1;
    visibility: visible;
    max-height: 100rem; }
  .has-submenu .submenu {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    padding: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
            box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05); }
    .has-submenu .submenu li {
      margin-left: 0;
      margin-right: 0; }
      .has-submenu .submenu li a {
        font-size: 1.4rem;
        padding: 1rem 1.5rem;
        display: block;
        margin: 0;
        white-space: nowrap;
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out; }
        .has-submenu .submenu li a:hover {
          background-color: #f2b632;
          color: #fff; }
  .main-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .submenu {
    position: absolute; }
  .footer-logo img {
    width: 17rem; }
  .title-block {
    padding-top: 13rem;
    padding-bottom: 5.5rem; }
    .title-block h1 {
      font-size: 3rem; }
  .section-content {
    padding-bottom: 8rem; }
  .section-negative-margin .wrap {
    background-color: #fff;
    margin-top: -5.5rem;
    padding-top: 2rem; }
  .content {
    padding-top: 3rem; }
  .tel-link {
    margin-top: 5rem;
    margin-bottom: 6rem; }
    .tel-link .tel-link-title, .tel-link .tel-link-title span, .tel-link .tel-link-contact, .tel-link .tel-link-contact span {
      font-size: 2.4rem; }
  .case-panel-img {
    height: 24rem; }
  .carousel {
    margin-left: 0;
    margin-right: 0; }
    .carousel .carousel-item {
      margin-left: 1.4rem;
      margin-right: 1.4rem; }
  .adress-grid {
    margin-top: 5rem; }
  .section-contact {
    padding-top: 6.5rem;
    padding-bottom: 9rem; }
    .section-contact h2 {
      margin-bottom: 5rem; }
  .panel-text {
    margin-bottom: 10rem; }
  .section-work {
    padding-top: 4.5rem; }
    .section-work h2 {
      font-size: 3rem;
      margin-bottom: 4rem; }
  .section-md-margin-bottom-none {
    padding-bottom: 0; }
  .main-slider {
    min-height: 47rem; }
  .main-slider-item {
    min-height: 47rem; }
    .main-slider-item .slider-content {
      margin: 6rem auto;
      max-width: 57rem; }
      .main-slider-item .slider-content .upper-slider-text, .main-slider-item .slider-content .main-slider-desc {
        font-size: 3rem; }
      .main-slider-item .slider-content .main-slider-title {
        margin-top: 8rem;
        font-size: 4rem; }
  .main-section-info {
    padding-top: 8rem;
    padding-bottom: 9rem; }
    .main-section-info .main-title {
      font-size: 3.8rem; }
  .section-error {
    padding-top: 24rem;
    padding-bottom: 20rem; }
    .section-error h1 {
      font-size: 15rem; }
    .section-error .text {
      font-size: 1.8rem; } }

@media (min-width: 1180px) {
  .header .wrap, .footer .wrap {
    padding-left: 3rem;
    padding-right: 3rem; }
  .wrap {
    padding-left: 2rem;
    padding-right: 2rem; }
  .logo::after {
    width: -webkit-calc((100% - 118rem) / 2 + 25rem);
    width: calc((100% - 118rem) / 2 + 25rem); }
  .main-menu > li {
    margin-left: 1.5rem;
    margin-right: 1.5rem; }
    .main-menu > li > a {
      font-size: 1.78rem; }
  .service-left .service-left-inner {
    margin-left: auto;
    margin-right: 3rem;
    max-width: 45rem; }
  .service-right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .service-right .service-right-inner {
      margin-left: 7.5rem;
      margin-right: auto;
      max-width: 60rem; }
  .service-item {
    margin-bottom: 4rem; }
    .service-item .service-link {
      margin-top: 1.5rem; }
  .service-left h3 {
    font-size: 2.4rem;
    margin-bottom: 2rem; }
  .service-right-inner {
    padding-top: 4rem; }
    .service-right-inner h2 {
      font-size: 3rem;
      margin-bottom: 4rem; }
  .service-item {
    margin-bottom: 5rem; }
    .service-item h3 {
      font-size: 2.4rem; }
  .about-image {
    margin-top: 1.5rem; }
  .section-carousel {
    padding-top: 8rem;
    padding-bottom: 6rem; }
    .section-carousel h2 {
      font-size: 3rem;
      margin-bottom: 2rem; }
    .section-carousel .carousel {
      margin-top: 4rem; } }

@media (min-width: 1200px) {
  .main-footer-row {
    padding-top: 3.4rem;
    padding-bottom: 3.4rem; }
  .footer-logo {
    text-align: left; }
  .promo .promo-title, .promo .promo-info {
    font-size: 2.7rem; }
  .footer-nav {
    margin: 0 -3rem; }
  .footer-nav-column {
    margin-bottom: 1rem; }
  .footer-menu-title {
    margin-bottom: 1.4rem; }
  .parnter-footer-logo .wrap {
    padding-left: 4.5rem;
    padding-right: 4.5rem; }
  .padding-side-xl-15 {
    padding-left: 1.5rem;
    padding-right: 1.5rem; }
  .section-article .wrap {
    padding-top: 4rem; }
  .aside {
    margin-top: 2rem;
    max-width: 27.5rem;
    margin-left: auto; }
  .news-amount {
    margin-bottom: 8rem; }
  .image-gallery {
    margin-right: auto; }
    .image-gallery img {
      margin-right: auto; } }

@media (min-width: 1280px) {
  .service-right .service-right-inner {
    margin-left: 10.5rem; }
  .service-left .service-left-inner {
    padding-left: 0;
    padding-right: 0; } }
