.about-image{
	margin: auto;
}

.section-carousel{
	padding-top: 3rem;
	padding-bottom: 4rem;
	h2{
		text-align: center;
		font-size: 2rem;
		font-weight: $font-black;
		color: $darkColor;
		margin-bottom: 1.5rem;
	}
	.section-desc{
		font-size: 1.4rem;
		text-align: center;
		color: #666666;
		max-width: 60rem;
		margin: auto;
	}
}

.carousel{
	margin-left: -1.5rem;
	margin-right: -1.5rem;
	margin-top: 3rem;
	.slick-dots{
		list-style-type: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-top: 1rem;
		li{
			margin-left: .5rem;
			margin-right: .5rem;
			&.slick-active{
				button{
					background-color: $mainColor;
				}
			}
			button{
				font-size: 0;
				background-color: #e2e2e2;
				width: .9rem;
				height: .9rem;
				padding: 0;
				border-radius: 50%;
				border: none;
			}
		}
	}
}

.carousel-item{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	max-height: 15rem;
	height: 128px;
	text-align: center;
	.img{
		//max-height: 150px;
		display: flex;
		justify-content: center;
    	align-items: center;
		height: inherit;
		width: 100%;
		border: 1px solid #999999;
		padding: 10px;
		position: relative;
	}
	img{
		text-align: center;
		width: auto;
		display: inline-block;
		max-width: calc(100% - 10px);
		max-height: 100%;
		max-height: 105px;
		position: absolute;
		left: 5px;
		right: 5px;
		top: 5px;
		bottom: 5px;
		margin: auto;
		height: auto;
	}
}