.image-gallery{
	margin-left: -1.5rem;
	margin-right: -1.5rem;
	margin-bottom: 3rem;
	max-height: 30rem;
	display: flex;
	align-items: center;
	overflow-y: scroll;
	img{
		max-height: 30rem;
		width: auto;
		max-width: 100%;
		display: block;
		margin-left: 1.5rem;
		margin-right: 1.5rem;
	}
}

.info-row{
	display: flex;
	flex-wrap: wrap;
	margin-left: -1.5rem;
	margin-right: -1.5rem;
	.info-title, .info-value{
		width: calc(50% - 3rem);
		margin-left: 1.5rem;
		margin-right: 1.5rem;
	}
	.info-title{
		text-transform: uppercase;
		font-size: 1.6rem;
		font-weight: $font-bold;
		color: $darkColor;
	}
	.info-value{
		font-size: 1.4rem;
		color: #666666;
		span{
			display: block;
			margin-top: .5rem;
			margin-bottom: .5rem;
		}
	}
}

.tel-link{
	display: block;
	margin-top: 2rem;
	margin-bottom: 2rem;
	text-decoration: none;
	&:hover, &:active{
		text-decoration: none;
	}
	.tel-link-title, .tel-link-contact{
		font-size: 2rem;
		line-height: 1.3em;
		text-transform: uppercase;
		display: block;
	}
	.tel-link-title{
		color: $mainColor;
		font-weight: $font-black;
	}
	.tel-link-contact{
		color: $darkColor;
		span{
			font-size: 2rem;
			font-weight: $font-black;
		}
	}
}

.btn{
	font-size: 1.4rem;
	font-weight: $font-bold;
	color: #fff;
	background-color: $mainColor;
	text-transform: uppercase;
	text-decoration: none;
	outline: none;
	transition: 0.3s linear;
	padding: 1rem 2.6rem;
	&:hover{
		color: #fff;
		background-color: $darkColor;
	}
}

.cover-img{
	position: absolute;
	left: -10000%;
	right: -10000%;
	top: -10000%;
	bottom: -10000%;
	margin: auto auto;
	min-width: 1000%;
	min-height: 1000%;
	transform: scale(0.1);
	object-fit: cover;
}

.case-list{
	margin-top: 4rem;
}

.case-panel{
	margin-bottom: 3rem;
	padding: 0px 10px 10px;
	background-color: #fff;
	.case-panel-img{
		width: calc(100% + 20px);
		border-bottom: 2px solid #e3e3e33a;
		margin-left: -10px;
	}
}

.case-panel-img{
	position: relative;
	height: 18rem;
	width: 100%;
	display: block;
	overflow: hidden;
}

.case-title{
	margin-top: 1rem;
	text-decoration: none;
	color: $darkColor;
	text-transform: uppercase;
	display: block;
	font-size: 1.8rem;
	font-weight: $font-bold;
	&:hover, &:active, &:focus{
		text-decoration: none;
	}
}

.case-location{
	color: #666666;
	font-size: 1.4rem;
}

.case-link{
	margin-top: 3rem;
	margin-bottom: 1rem;
	padding-left: .7rem;
	padding-right: .7rem;
}