.adress{
	margin-top: 2rem;
	color: #666666;
	font-size: 1.4rem;
	a{
		color: inherit;
	}
}

.contacts-phone{
	margin-top: 1rem;
	display: block;
	color: #666666;
	font-size: 1.8rem;
	font-weight: $font-bold;
	text-decoration: none;
	&:hover, &:active, &:focus{
		text-decoration: none;
		color: #666666;
	}
}

.adress-grid{
	margin-top: 3rem;
}

.adress-col{
	margin-bottom: 3rem;
	h3{
		font-size: 2rem;
		text-transform: uppercase;
		color: $darkColor;
		font-weight: $font-bold;
	}
}

.person-adress{
	margin-bottom: 2rem;
	h4{
		font-size: 1.4rem;
		margin-top: .5rem;
		margin-bottom: .5rem;
		color: #666666;
	}
	a{
		color: #666666;
		font-size: 1.4rem;
		display: block;
		&:hover{
			text-decoration: none;
			color: #666666;
		}
	}
}

.section-contact{
	background-color: $mainColor;
	padding-top: 3rem;
	padding-bottom: 3rem;
	h2{
		font-size: 2rem;
		font-weight: $font-bold;
		text-align: center;
		margin-bottom: 2rem;
		color: $darkColor;
	}
}

.contact-form{
	max-width: 55rem;
	margin: auto;
	.label{
		display: block;
		margin-top: 1rem;
		margin-bottom: 1rem;
		span{
			display: block;
			font-size: 1.4rem;
			font-weight: $font-bold;
			margin-bottom: .5rem;
		}
		textarea, input{
			display: block;
			width: 100%;
			outline: none;
			border: none;
			font-size: 1.4rem;
			font-family: $font;
			padding: 1rem;
		}
	}
	input[type=number]::-webkit-inner-spin-button, 
	input[type=number]::-webkit-outer-spin-button { 
		-webkit-appearance: none; 
		margin: 0; 
	}
	input[type=submit]{
		font-size: 1.4rem;
		font-weight: 700;
		color: #fff;
		background-color: #37404f;
		text-transform: uppercase;
		text-decoration: none;
		outline: none;
		-webkit-transition: 0.3s linear;
		-o-transition: 0.3s linear;
		transition: 0.3s linear;
		padding: 1rem 2.6rem;
		border: none;
		line-height: 1.5;
		position: relative;
		z-index: 101;
    	border-radius: .25rem;
	}
}

.btn-submit{
	color: #fff;
	font-size: 1.8rem;
	font-weight: $font-bold;
	text-transform: uppercase;
	border: none;
	padding: 1.2rem 11rem;
	width: 100%;
	margin-top: 1.5rem;
	&.dark{
		background-color: $darkColor;
	}
}

