.footer{
	border-top: 4px solid $mainColor;
}
.main-footer-row{
	padding-top: 4rem;
	padding-bottom: 4rem;
	background-color: $darkColor;
}

.footer-logo{
	display: block;
	text-align: center;
	img{
		width: 11.5rem;
		height: auto;
	}
}

.order-middle{
	order: 1;
}

.order-bottom{
	order: 2;
}

.col{
	flex-basis: auto;
}

.promo{
	text-align: center;
	text-decoration: none;
	&:hover, &:focus, &:active{
		text-decoration: none;
	}
	.promo-title, .promo-info{
		font-size: 2rem;
		line-height: 1.36em;
		display: block;
		text-transform: uppercase;
	}
	.promo-title{
		color: $mainColor;
		font-weight: $font-black;
	}
	.promo-info{
		color: #fff;
	}
}

.footer-nav{
	margin-top: 4rem;
	margin-bottom: 4rem;
	margin-left: auto;
	margin-right: auto;
	max-width: 50%;
}

.footer-nav-column{
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.footer-menu-title{
	font-size: 1.5rem;
	font-weight: $font-bold;
	color: $mainColor;
	position: relative;
	margin-bottom: 1rem;
	text-align: center;
	&::after{
		content: '';
		position: absolute;
		width: 100%;
		height: 1px;
		display: block;
		bottom: -.5rem;
		left: 0;
		background-color: $mainColor;
	}
}

.footer-menu{
	list-style-type: none;
	padding: 0;
	margin: 1rem 0;
	li{
		a{
			display: block;
			text-align: center;
			color: #fff;
			font-size: 1.2rem;
			&:hover, &:active, &:focus{
				text-decoration: none;
			}
		}
	}
}

.footer-slider{
	margin-top: 2rem;
	margin-bottom: 2rem;
	margin-left: -1.5rem;
	margin-right: -1.5rem;
	.footer-slide{
		margin-left: 1rem;
		margin-right: 1rem;
		width: 5rem;
		height: 5rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	img{
		display: block;
		max-width: 100%;
		max-height: 100%;
	}
}

.copyright-row{
	background-color: $darkColor;
	padding-top: .5rem;
	padding-bottom: .5rem;
	.wrap{
		display: flex;
		flex-direction: column-reverse;
	}
}

.footer-privacy-menu{
	list-style-type: none;
	padding: 0;
	margin: .5rem 0;
	display: flex;
	justify-content: center;
	li{
		display: flex;
		align-items: center;
		&:not(:last-child){
			&::after{
				content: '';
				height: 1.2rem;
				width: 1px;
				background-color: #fff;
				display: block;
				margin-left: .8rem;
				margin-right: .8rem;
			}
		}
		a{
			font-size: 1.2rem;
			color: #fff;
			&:hover, &:active, &:focus{
				text-decoration: none;
			}
		}
	}
}

.copyright{
	font-size: 1rem;
	text-align: center;
	color: #fff;
	span,
	a{
		color: inherit;
		display: block;
	}
}