.header{
	background-color: #fff;
	border-bottom: 4px solid $mainColor;
	height: 4.8rem;
	position: fixed;
	width: 100%;
	z-index: 150;
	transform: translateY(0);
	transition: transform .6s ease-in-out;
	.wrap{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&.header-upper{
		transform: translateY(-150%);
	}
}

.logo{
	margin-top: 1rem;
	margin-bottom: 1rem;
	img{
		max-width: 100%;
		width: 11.5rem;
		height: auto;
		position: relative;
		z-index: 150;
		display: block;
		margin-bottom: -1.5rem;
	}
	&::after{
		content: '';
		width: 16.5rem;
		height: 2.5rem;
		background-color: red;
		display: block;
		position: absolute;
		top: 4.4rem;
		left: -1rem;
		z-index: 1;
		transform: skew(-20deg);
		background-color: #fff;
		border-right: 4px solid $mainColor;
		border-bottom: 4px solid $mainColor;
	}
}

.btn-menu{
	width: 3rem;
	height: 3rem;
	position: relative;
	z-index: 150;
	.icon{
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		margin: auto;
		width: 2.6rem;
		height: 3.4rem;
		fill: $mainColor;
		transition: all .4s ease-in-out;
	}
	.close-icon{
		opacity: 0;
		visibility: hidden;
		width: 0;
		height: 0;
	}
	&.open-menu{
		.close-icon{
			opacity: 1;
			visibility: visible;
			width: 2.6rem;
			height: 3.4rem;
		}
		.menu-icon{
			opacity: 0;
			visibility: hidden;
			width: 0;
			height: 0;
		}
	}
}

.header-row{
	visibility: hidden;
	transform: translateY(-120%);
	position: absolute;
	overflow-y: auto;
	top: 0;
	left: 0;
	right: 0;
	min-height: 100vh;
	padding-top: 7rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	z-index: 100;
	background-color: #fff;
	border-bottom: 4px solid $mainColor;
	transition: all .6s .4s cubic-bezier(0.165, 0.84, 0.44, 1);
	&.visible{
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
		transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
		.main-menu, .call{
			opacity: 1;
			visibility: visible;
			transform: translateY(0);
			transition: all .4s .4s ease-in-out;
		}
	}
}

.main-menu{
	padding: 0;
	margin: 0;
	margin-bottom:6rem;
	list-style-type: none;
	opacity: 0;
	visibility: hidden;
	transform: translateY(-2rem);
	transition: all .4s ease-in-out;
	li{
		margin-top: 1.2rem;
		margin-bottom: 1.2rem;
		position: relative;
		a{
			text-decoration: none;
			text-transform: uppercase;
			color: $darkColor;
			font-size: 1.7rem;
		}
		& > a{
			&::before{
				content: '';
				display: block;
				width: .4rem;
				height: 0;
				position: absolute;
				left: -1.5rem;
				top: 0;
				background-color: $darkColor;
				transition: all .4s ease-in-out;
			}
		}
	}

}

.menu-item-has-children .open-submenu{
	&::before{
		height: 2rem;
	}
	+ .submenu{
		margin-top: 1rem;
		margin-bottom: 1rem;
		max-height: 20rem;
		opacity: 1;
		visibility: visible;
	}
}

.submenu{
	opacity: 0;
	visibility: hidden;
	max-height: 0;
	overflow-y: hidden;
	list-style-type: none;
	margin: 0;
	padding: 0 0 0 1.5rem;
	transition: all .4s ease-in-out;
	li{  
		margin-top: .8rem;
		margin-bottom: .8rem;
		a{ 
			font-size: 1.4rem;
		}
	}
}

.call{
	opacity: 0;
	visibility: hidden;
	transform: translateY(-2rem);
	transition: all .4s ease-in-out;
	font-weight: $font-bold;
	font-size: 1.6rem;
	color: $mainColor;
	text-decoration: none;
	text-transform: uppercase;
	position: absolute;
	bottom: 2rem;
	width: 100%;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
	&:hover, &:focus, &:active{
		color: $mainColor;
		text-decoration: none;
	}
}
