@media(min-width: 1180px){
	.header, .footer{
		.wrap{
			padding-left: 3rem;
			padding-right: 3rem;
		}
	}

	.wrap{
		padding-left: 2rem;
		padding-right: 2rem;
	}

	.logo{
		&::after{
			width: calc((100% - 118rem) / 2 + 25rem);
		}
	}

	.main-menu{
		& > li{
			margin-left: 1.5rem;
			margin-right: 1.5rem;
			& > a {
				font-size: 1.78rem;
			}
		}
	}

	.service-left{
		.service-left-inner{
			margin-left: auto;
			margin-right: 3rem;
			max-width: 45rem;
		}
	}

	.service-right{
		display: flex;
		flex-direction: column;
		justify-content: center;
		.service-right-inner{
			margin-left: 7.5rem;
			margin-right: auto;
			max-width: 60rem;
		}
	}

	.service-item{
		margin-bottom: 4rem;
		.service-link{
			margin-top: 1.5rem;
		}
	}

	.service-left {
		h3{
			font-size: 2.4rem;
			margin-bottom: 2rem
		}
	}


	.service-right-inner{
		padding-top: 4rem;
		h2{
			font-size: 3rem;
			margin-bottom: 4rem;
		}
	}

	.service-item{
		margin-bottom: 5rem;
		h3{
			font-size: 2.4rem;
		}
	}

	.about-image{
		margin-top: 1.5rem;
	}

	.section-carousel{
		padding-top: 8rem;
		padding-bottom: 6rem;
		h2{
			font-size: 3rem;
			margin-bottom: 2rem;
		}
		.carousel{
			margin-top: 4rem;
		}
	}

}

@media(min-width: 1200px){
	.main-footer-row {
	    padding-top: 3.4rem;
	    padding-bottom: 3.4rem;
	}

	.footer-logo{
		text-align: left;
	}

	.promo{
		.promo-title, .promo-info{
			font-size: 2.7rem;
		}
	}

	.footer-nav {
	    margin: 0 -3rem;
	}

	.footer-nav-column{
		margin-bottom: 1rem;
	}

	.footer-menu-title{
		margin-bottom: 1.4rem;
	}

	.parnter-footer-logo{
		.wrap{
			padding-left: 4.5rem;
			padding-right: 4.5rem;
		}
	}

	.padding-side-xl-15{
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}

	.section-article{
		.wrap{
			padding-top: 4rem;
		}
	}

	.aside{
		margin-top: 2rem;
		max-width: 27.5rem;
		margin-left: auto;
	}

	.news-amount{
		margin-bottom: 8rem;
	}

	.image-gallery{
		margin-right: auto;
		img{
			margin-right: auto;
		}
	}
}
