@media(min-width: 576px){
	.footer-nav{
		display: flex;
		flex-wrap: wrap;
		margin-left: 3rem;
		margin-right: 3rem;
		max-width: none;
		.footer-nav-column{
			width: calc(50% - 6rem);
			margin-left: 3rem;
			margin-right: 3rem;
		}
	}

	.footer-menu-title{
		text-align: left;
	}

	.footer-menu{
		li{
			a{
				text-align: left;
			}
		}
	}

	.news-item{
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		img{
			width: 18rem;
			height: auto;
			margin-left: 0;
			margin-right: 0;
			& + .news-item-inner{
				margin-left: 2rem;
			}
		}
		.news-item-inner{
			width: calc(100% - 20rem);
		}
		.btn-more{
			margin-top: 1.5rem;
		}
	}

	.contact-form{
		.label{
			margin-top: 1.5rem;
			margin-bottom: 1.5rem;
		}
		.row-label{
			display: flex;
			align-items: flex-end;
			flex-wrap: wrap;
			margin-left: -1.5rem;
			margin-right: -1.5rem;
			.label{
				width: calc(50% - 3rem);
				margin-left: 1.5rem;
				margin-right: 1.5rem;
				margin-bottom: 0;
			}
		}
	}

	.modal-dialog{
		max-width: 75rem;
	}
	
}