@media(min-width: 1080px){
	.header{
		height: 9.6rem;
		.wrap{
			flex-wrap: wrap;
		}
	}

	.btn-menu{
		display: none;
	}

	.logo{
		margin-top: 3rem;
		margin-right: 5rem;
		img{
			margin-bottom: -1rem;
			width: 17rem;
		}
		&::after{
			top: 9.18rem;
			width: 22rem;
		}
	}

	.header-row{
		width: calc(100% - 22rem);
		padding-left: 0;
		padding-right: 0;
		position: relative;
		visibility: visible;
		overflow: visible;
		transform: none;
		min-height: auto;
		background-color: transparent;
		border-bottom: none;
		display: flex;
		padding-top: 0;
		justify-content: space-between;
		li{
			margin-left: 1rem;
			margin-right: 1rem;
		}
		.main-menu, .call{
			opacity: 1;
			visibility: visible;
		}
		.main-menu{
			margin-bottom: 0;
			transform: none;
			li{
				margin-top: 0;
				margin-bottom: 0;
				padding-top: 0;
				padding-bottom: 0;
				a{
					padding-top: 3rem;
					padding-bottom: 4rem;
				}
			}
		}
		.call{
			position: static;
			width: auto;
			margin-left: auto;
			transform: none;
			margin-right: 0;
			font-size: 2.1rem;
			margin-top: -.3rem;
		}
	}

	.main-menu{
		& > li{
			& > a{
				&::before{
					width: 0;
					top: -4rem;
					left: 0;
					height: 1.6rem;
				}
			}
			&:hover > a{
				&::before{
					width: 100%;
				}
			}
		}
	}

	.menu-item-has-children{
		&:hover > a, .open-submenu{
			&::before{
				width: 100%;
			}
		}
		&:hover > a + .submenu, .open-submenu + .submenu{
				margin-top: 2rem;
				opacity: 1;
				visibility: visible;
				max-height: 100rem;
		}
		.submenu{
			transform: none;
			padding: 0;
			background-color: #fff;
			box-shadow: 0 10px 10px rgba(0,0,0,.05);
			li{
				margin-left: 0;
				margin-right: 0;
				a{
					font-size: 1.4rem;
					padding: 1rem 1.5rem;
					display: block;
					margin: 0;
					white-space: nowrap;
					transition: all .2s ease-in-out;
					&:hover{
						background-color: $mainColor;
						color: #fff;
					}
				}
			}
		}
	}

	.main-menu{
		display: flex;
	}

	.submenu{
		position: absolute;
	}


	.footer-logo{
		img{
			width: 17rem;
		}
	}

	.title-block{
		padding-top: 13rem;
		padding-bottom: 5.5rem;
		h1{
			font-size: 3rem;
		}
	}

	.section-content{
		padding-bottom: 8rem;
	}

	.section-negative-margin{
		.wrap{
			background-color: #fff;
			margin-top: -5.5rem;
			padding-top: 2rem;
		}
	}

	.content{
		padding-top: 3rem;
	}

	.tel-link{
		margin-top: 5rem;
		margin-bottom: 6rem;
		.tel-link-title, .tel-link-contact{
			&, span{
				font-size: 2.4rem;
			}
		}
	}

	.case-panel-img{
		height: 24rem;
	}

	.carousel{
		margin-left: 0;
		margin-right: 0;
		.carousel-item{
			padding-left: 1.4rem;
			padding-right: 1.4rem;
		}
	}

	.adress-grid{
		margin-top: 5rem;
	}

	.section-contact{
		padding-top: 6.5rem;
		padding-bottom: 9rem;
		h2{
			margin-bottom: 5rem;
		}
	}

	.panel-text{
		margin-bottom: 10rem;
	}

	.section-work{
		padding-top: 4.5rem;
		h2{
			font-size: 3rem;
			margin-bottom: 4rem;
		}
	}

	.section-md-margin-bottom-none{
		padding-bottom: 0;
	}

	.main-slider{
		min-height: 47rem;
	}

	.main-slider-item{
		min-height: 47rem;
		.slider-content{
			margin: 15rem auto;
			max-width: 57rem;
			.upper-slider-text, .main-slider-desc{
				font-size: 3rem;
			}
			.main-slider-title{
				margin-top: 8rem;
				font-size: 4rem;
			}
		}
	}

	.main-section-info{
		padding-top: 8rem;
		padding-bottom: 9rem;
		.main-title{
			font-size: 3.8rem;
		}
	}

	.section-error{
		padding-top: 24rem;
		padding-bottom: 20rem;
		h1{
			font-size: 15rem;
		}
		.text{
			font-size: 1.8rem;
		}
	}
}