.section-article {
	padding-top: 2rem;
	padding-bottom: 5rem;
	h2{
		font-size: 2rem;
		font-weight: $font-bold;
		color: $darkColor;
	}
	.content{
		img{
			max-width: 100%;
			display: block;
			margin: 1rem auto;
		}
	}
}

.article-date{
	margin-top: 1rem;
	margin-bottom: 1rem;
	display: block;
	font-size: 1.2rem;
	color: $darkColor;
	font-weight: $font-bold;
}

.arrow-pagination{
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.arrow-link{
	color: $darkColor;
	font-size: 1.4rem;
	font-weight: $font-bold;
	text-decoration: none;
	&:active, &:focus, &:hover{
		text-decoration: none;
	}
}

.aside{
	background-color: $mainColor;
	padding: 0 2rem;
}

.aside-block{
	padding: 2rem 0;
	position: relative;
	&:not(:last-child){
		&::after{
			position: absolute;
			bottom: 0;
			content: '';
			display: block;
			width: 100%;
			height: 1px;
			background-color: #000;
		}
	}
}

.aside-title{
	color: #fff;
	font-size: 1.8rem;
	font-weight: $font-bold;
}

.aside-list{
	list-style-type: none;
	padding: 0;
	margin: 1rem 0;
	li{
		margin: .5rem 0;
		a{
			color: $darkColor;
			text-decoration: none;
			font-weight: $font-bold;
			font-size: 1.2rem;
		}
	}
}

.news-amount{
	margin-bottom: 3rem;
}

.news-item{
	position: relative;
	padding-top: 2rem;
	padding-bottom: 2rem;
	img{
		max-width: 50%;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 1.5rem;
	}
	&::after{
		content: '';
		width: 100%;
		height: 2px;
		background-color: $baseColor;
		display: block;
		position: absolute;
		bottom: 0;
	}
	h2, a{
		color: $darkColor;
		font-size: 1.8rem;
		font-weight: $font-bold;
		margin-top: 0;
		text-decoration: none;
	}
	h2{
		margin-bottom: 1rem;
	}
	.news-date{
		display: block;
		font-weight: $font-bold;
		color: $darkColor;
	}
	.news-description{
		font-size: 1.4rem;
		color: #666666;
		margin-top: 1rem;
	}
	.btn-more{
		outline: none;
		background-color: $mainColor;
		text-transform: uppercase;
		padding: .8rem 1.5rem;
		font-size: 1rem;
		color: #fff;
		text-decoration: none;
		margin-top: 1rem;
		display: inline-block;
	}

}

.pagination{
	margin-bottom: 3rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	a{
		padding: .5rem 1rem;
		color: $darkColor;
		text-decoration: none;
		display: block;
		margin-left: .1rem;
		margin-right: .1rem;
		&:hover, &.current{
			background-color: $darkColor;
			color: #fff;
		}
	}
}

