.small-contact{
	margin-top: 3rem;
	h3{
		font-size: 1.8rem;
		font-weight: $font-black;
		color: $mainColor;
		text-transform: uppercase;
		margin-bottom: 1rem;
	}
	.small-row-contact{
		span, a{
			display: inline-block;
			font-size: 1.4rem;
			line-height: 1.34em;
			color: #666666;
			margin-top: .5rem;
			font-weight: 700;
			margin-right: 5px;
			margin-bottom: .5rem;
		}
	}
	a{
		display: inline-block;
		margin-top: 0;
		margin-bottom: 0;
	}
}

.btn-sm-padding{
	padding: 1rem .9rem;
}

.panel-text-amount{
	margin-top: 5rem;
	margin-bottom: 3rem;
}

.panel-text{
	height: 25rem;
	border-top: 3px solid $baseColor;
	position: relative;
	margin-bottom: 3rem;
	h3{
		font-size: 1.8rem;
		color: $darkColor;
		margin-top: 1.2rem;
		margin-bottom: 2rem;
		display: -webkit-box;
    	max-height: 6.3rem;
	    -webkit-box-orient: vertical;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: normal;
	    -webkit-line-clamp: 3;
	}
	p{
		font-size: 1.4rem;
		color: #666666;
		display: -webkit-box;
    	// max-height: 8rem;
	    -webkit-box-orient: vertical;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: normal;
	    -webkit-line-clamp:4;
	}
	.btn{
		outline: none;
		position: absolute;
		left: 0;
		bottom: 0;
		box-shadow: none;
	}
}

.section-work{
	background-color: $lightGreyColor;
	padding-top: 4rem;
	padding-bottom: 1rem;
	h2{
		font-size: 2rem;
		font-weight: $font-black;
		text-align: center;
		margin-bottom: 3rem;
		text-transform: uppercase;
	}
}